body {
  background-color: #28282d;
  color: #dfdfe5;
}
a{
  color: #ffe8c0;
  outline: none;
  text-decoration: none;
}
ul{
  list-style: none
}
.menu{
  background-color: #2f2f3a;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 550px;
}
.main-image{
  height: 250px;
}

.text{
  padding: 5px;
  font-size:20px;
}
