body {
  background-color: #28282d;
  color: #dfdfe5;
  font-family: 'Fira Code', monospace;
}
.menu{
  background-color: #2f2f3a;
  height: 250px;
  width: 550px;
  margin: 12% auto;
  display: flex;
}
.main-image{
  height: 250px;
}
.text a{
  color: #ffe8c0;
  outline: none;
  text-decoration: none;
  display: block;
}
.text{
  padding: 15px;
  font-size:20px;
}
.links{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.links1{
  width:90px;
}
.links2{
  width: 90px;
  margin-left: 15px;
}
.clock{
  color: #b24b26;
  font-size: 16px;
}
