body {
  background-color: #28282d;
  color: #dfdfe5;
  font-family: 'Fira Code', monospace;
}
.menu{
  background-color: #2f2f3a;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 250px;
  width: 550px;
}
.main-image{
  height: 250px;
}
.text a{
  color: #ffe8c0;
  outline: none;
  text-decoration: none;
  display: flex;
  flex-direction: column;

}
.text{
  padding: 15px;
  font-size:20px;
}
.clock{
  color: #b24b26;
  font-size: 16px;
}
